.form {
    width: 60%;
    height: auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    background-size: cover;
    text-align: center;
}

.form input[type="text"],
input[type="password"] {
    border: 1px solid white;
    border-radius: 24px;
    padding: 11px 10px;
    width: 60%;
    outline: none;
    background: none;
    margin: 1rem auto;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: Raleway;
}

.form input[type="text"]:hover,
input[type="password"]:hover {
    border: 1px solid #46a438;
}

::placeholder {
    text-align: center;
    font-size: 1.4rem;
    color: #e3ffc1;
    font-weight: normal;
    font-family: Caesar Dressing;
    opacity: 0.7;
}

.form button[type="submit"] {
    border: 1px solid white;
    border-radius: 24px;
    padding: 11px 10px;
    width: 40%;
    outline: none;
    background: none;
    margin: 12px auto;
    text-align: center;
    color: #46a438;
    font-size: 1.3rem;
    font-family: Caesar Dressing;
    cursor: pointer;
    transition: 0.25s;
}

.form button[type="submit"]:hover {
    color: white;
    background: #46a438;
    font-size: 1.5rem;
}

.text {
    color: #46a438;
    font-size: 1.3em;
    font-weight: bold;
    font-family: Raleway;
}

.form a {
    color: #add8e6;
    font-size: 1.7rem;
    font-weight: normal;
    font-family: Caesar Dressing;
}

h3 {
    text-align: center;
    color: #add8e6;
    font-weight: normal;
    font-family: Caesar Dressing;
    margin: 25px;
    font-size: 4.2rem;
}

button[type="button"] {
    border: 1px transparent;
    padding: 11px 0px;
    width: 10rem;
    outline: none;
    background: none;
    margin: 8px auto;
    text-align: center;
    text-decoration: underline;
    color: #add8e6;
    font-size: 1em;
    font-family: Raleway;
    font-weight: bold;
    cursor: pointer;
}

.pform {
    width: 500px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    text-align: center;
}

.pform button[type="submit"] {
    border: 1px solid white;
    border-radius: 24px;
    padding: 11px 0px;
    width: 40%;
    outline: none;
    background: none;
    margin: 8px auto;
    text-align: center;
    color: #46a438;
    font-size: 1rem;
    font-family: Raleway;
    cursor: pointer;
    transition: 0.25s;
}

.pform button[type="submit"]:hover {
    color: white;
    background: #46a438;
}

.pformtext {
    border: 1px solid white;
    border-radius: 14px;
    padding: 11px 10px;
    width: 20rem;
    outline: none;
    background: none;
    margin: 10px auto;
    resize: none;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: Raleway;
}

.pformtext:hover {
    border: 1px solid #46a438;
}

.pformtext::placeholder {
    text-align: center;
    font-size: 1.5em;
    color: #e3ffc1;
    font-weight: normal;
    font-family: Raleway;
    opacity: 0.6;
}
