.form {
    width: 550px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    background-size: cover;
    text-align: center;
}

.textarea {
    border: 1px solid white;
    border-radius: 14px;
    padding: 11px 10px;
    width: 28rem;
    outline: none;
    background: none;
    margin: 20px auto;
    resize: none;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: Raleway;
}

.textarea:hover {
    border: 1px solid #46a438;
}

::placeholder {
    text-align: center;
    font-size: 1.5em;
    color: #e3ffc1;
    font-weight: normal;
    font-family: Raleway;
    opacity: 0.6;
}

.form button[type="submit"],
button[type="button"] {
    border: 1px solid white;
    border-radius: 24px;
    padding: 11px 10px;
    width: 120px;
    outline: none;
    background: none;
    margin: 12px auto;
    text-align: center;
    color: #46a438;
    font-size: 1em;
    font-family: Caesar Dressing;
    cursor: pointer;
    transition: 0.25s;
}

.form button[type="submit"]:hover,
button[type="button"]:hover {
    color: white;
    background: #46a438;
    font-size: 1.2em;
}

.text {
    color: #46a438;
    font-size: 1.3em;
    font-weight: bold;
    font-family: Raleway;
}

h3 {
    text-align: center;
    color: #add8e6;
    font-weight: normal;
    font-family: Caesar Dressing;
    margin: 20px;
    font-size: 2.8em;
}

nav a{
    text-align: center;
    color: white;
    font-family: Caesar Dressing;
    font-size: 1.4rem;
}

nav a:hover{
    font-weight: bold;
}

nav button[type="button"]{
    margin: 0%;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    font-family: Raleway;
    line-height: 1;
    background-color: transparent;
    border: 1px transparent;
}

nav button[type="button"]:hover{
    background: transparent;
    font-size: 1rem;
}

.mbutton{
    text-align: right;
}
